<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="4; URL='/study'"/>
        <link rel="shortcut icon" href="../images/favicon.png" type="image/png">
        <link
            href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/partials/page-success.css">
        <title>Proffy cadastrado com sucesso</title>
    </head>

    <body class="page-success">
        <header>
            <img src="../images/success-background.svg" alt="Cadastro concluído">
        </header>

        <main>
            <div id="container1">
                <img src="../images/icons/success-check-icon.svg" alt="">
                <h1 id="title">Cadastro salvo!</h1>
                <p class="message">Tudo certo, seu cadastro está na nossa lista de professores.<br>
                    Agora é só ficar de olho no seu whatsapp.
                </p>
                <a href="/study" type="button">Acessar lista</a>
            </div>
        </main>

    </body>

</html>